.movie_card {
    padding: 0 !important;
    width: 22rem;
    margin: 14px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(48, 48, 48, 0.2), 0 4px 15px 0 rgba(29, 29, 29, 0.19);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20rem;
}

.movie_info {
    color: #5e5c5c;
    white-space: wrap;
    height: 5rem;
    overflow: hidden;
    white-space: wrap;
    text-align: center;
}

.movie_info i {
    font-size: 20px;
}

.card-title {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 2rem;
}
.input{
    border-radius: 5px;
}